<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>INDEX</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Umur</th>
                <th>Opsi</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td>
                    <a th:href="${'/edit/' + user.id}">Sunting</a>
                    /
                    <a>Hapus</a>
                </td>
            </tr>

        </table>
    </div>
</body>
</html>